/*---==========ROBOTO FONT FAMILY==========----*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

nav ul {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  background-color: aquamarine;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  padding: 14px 0;
}

.todo-form {
  background-color: wheat;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}
.todo-form h2 {
  text-decoration: underline;
}
.todo-form label {
  font-size: 23px;
}
.todo-form input {
  font-size: 20px;
}

.todo-container {
  padding: 3%;
}
.todo-container .todo {
  border-radius: 10px;
  max-height: 230px;
  overflow-y: scroll;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.4);
  background-color: rgba(245, 222, 179, 0.589);
}
.todo-container ::-webkit-scrollbar {
  width: 0px;
}
/*_____CSS FOR LOGIN AND REGISTER____________*/
.main-container {
  display: flex;
  gap: 2rem;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, 0);
  animation: anim 0.5s linear;
  animation-fill-mode: forwards;
}
@keyframes anim {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.85);
  }
}

.form-container {
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  position: relative;
  transition: transform 0.2s ease;
  animation: scaleForm 0.4s linear;
  animation-fill-mode: forwards;
}
@keyframes scaleForm {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

h2 {
  margin-top: 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form h2 {
  margin-bottom: 24px !important;
}

form input {
  border: 1px solid rgb(240, 234, 234);
}

input {
  padding: 0.75rem;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 16px;
  background: #fff;
  position: relative;
  outline: none; /* Remove default outline */
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

input:focus {
  border: 2px solid #4fcf70; /* Border color when focused */
  box-shadow: 0 0 10px rgba(79, 207, 112, 0.6); /* Glowing effect */
}

.btn-1 {
  cursor: pointer;
  color: white;
  margin: 0 auto;
  width: 140px;
  white-space: nowrap;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  border-radius: 30px;
  overflow: hidden;
  padding: 3px;
  isolation: isolate;
  transition: transform 0.3s ease;
}

.btn-1:hover {
  transform: scale(1.05);
}

.btn-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  background-size: 25% 100%;
  animation: border-animation 0.75s linear infinite;
  animation-play-state: paused;
  translate: -5% 0%;
  transition: translate 0.25s ease-out, opacity 0.175s ease-out;
}

.btn-1:hover::before {
  opacity: 1;
  animation-play-state: running;
  transition-duration: 0.75s;
  translate: 0% 0%;
}

.btn-1 span {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 18px;
  background: #000;
  color: #fff;
  border-radius: 30px;
  height: 100%;
  text-align: center;
}

.password-field {
  position: relative;
}
.password-field svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
}
.password-field a {
  color: black;
  font-size: 20px;
}

@keyframes border-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
/* Responsive styles */
@media (max-width: 600px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }
  .form-container {
    width: 100%;
    max-width: 400px;
  }
}/*# sourceMappingURL=style.css.map */